
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <h2>
             Service Details
          </h2>
          <hr>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <p>
                <mat-card style ="background-color: #f3f6f9">
                   <p>60 minute Relaxation on Sep 10, 2020</p>
                   <p>Male Client with Male Therapist only</p>
                   <p>At Home in Height-area</p>
                 </mat-card> 
            </p>
        </div>
        <div class="col-md-12">
            <p> <br>
                <mat-card style ="background-color: #f3f6f9">
                    <div>
                        <p>This service has been schedule on Sep,10 at 11AM </p>
                        <span class ="example-spacer"></span>
                        <!-- modal -->
                        <button type ="button" class ="btn btn-sm btn-primary" 
                         (click)="cancelService()">Cancel Service</button>
                    </div><br>
                    <!-- <div>
                        <p>This service has been cancelled by the Therapist</p>
                        <span class ="example-spacer"></span>
                        <button type ="button" class ="btn btn-sm btn-primary">New Service</button>
                    </div>
                    <br>
                    <div>
                        <p>This service has not been schedule yet</p>
                        <span class ="example-spacer"></span>
                        modal
                        <button type ="button" class ="btn btn-sm btn-primary">Cancel Service</button>
                    </div>
                    <br>
                    <div>
                        <p>This service has been cancelled by the Therapist</p>
                        <span class ="example-spacer"></span>
                        <button type ="button" class ="btn btn-sm btn-primary">New Service</button>
                    </div>
                    <br>
                    <div>
                        <p>This service wsa marked complete at 12:15 PM on Sep,10</p>
                        <span class ="example-spacer"></span>
                        use modal
                        <button type ="button" class ="btn btn-sm btn-primary">Rate Service</button>
                    </div> -->
                </mat-card>
            </p>
        </div>
        
        <div class="col-md-12">
            <p> <br><br>
                <mat-card >
                    <div class="row">
                        <div class="col-md-12">
                           <div class="row">
                               <div class="col-md-6">
                                   <h4>Client</h4>
                                 <!-- client Part  -->
                                 <table class="table table-bordered">
                                  <tbody>
                                      <tr>
                                      <td><b>Client Name</b></td>
                                      <td>Oliver S</td>
                                      </tr>
                                      <tr>
                                          <td><b>Photo</b></td>
                                          <td><img class="img" src="../../../../../assets/images/client-user.png" alt=""></td>
                                      </tr>
                                      <tr>
                                          <td><b>Address </b></td>
                                          <td>lorem ipsum</td>
                                      </tr>
                                      <tr>
                                          <td><b>Thrapist Rating </b></td>
                                          <td>*****<br><span>5/5</span></td>
                                      </tr>
                                      <tr>
                                          <td><b>Status </b></td>
                                          <td></td>
                                      </tr>
                                      
                                      </tbody>
                              </table>
                          </div>
                                <div class="col-md-6">
                                <h4>Therapist</h4>
                                <!-- therapist Part -->
                                <div class="row">
                                    <div class="col-md-12">
                                      <table class="table table-bordered ">
    
                                        <tbody>
                                        <tr>
                                        <td><b>Therapist Name</b></td>
                                        <td>Oliver S</td>
                                        </tr>
                                        <tr>
                                            <td><b>Photo</b></td>
                                            <td><img class="img" src="../../../../../assets/images/therapist-user.png" alt=""></td>
                                        </tr>
                                        <tr>
                                            <td><b>Licensure </b></td>
                                            <td>lorem ipsum</td>
                                        </tr>
                                        <tr>
                                            <td><b>Thrapist Rating </b></td>
                                            <td>*****<br><span>5/5</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Status </b></td>
                                            <td></td>
                                        </tr>
                                        
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                               </div>
                           </div>
                        </div>
                    </div>
                </mat-card>
            </p>
        </div>
    </div>
</div>
