<h1 mat-dialog-title>Uload Phone Number</h1>
<div mat-dialog-content>
    
    <div class="row">
        <div class="col-sm-12">
            <p>A text message containing a verification code will be sent to this phone number for confirmation</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 offset-md-1">
        <label for="current-email">Phone number:</label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <input type="text" class="form-control" placeholder="(201)555-5555">
            </div>
        </div>
    </div>

</div>
<div mat-dialog-actions>
  
  <div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
        <button class="btn btn-sm btn-primary" >Verify</button>
    </div>
    <div class="p-2 bd-highlight">
        <button class="btn btn-sm btn-light" mat-button mat-dialog-close>Cancel</button>
    </div>
  </div>

</div>