
<div class="container">
            <div class="row">
                <div class="col-md-6">
                <h2>
                Service Detail
                </h2>
              </div>
              <div class="col-md-1 offset-sm-5">
                <button type="button" class="btn btn-primary">Back</button>
              </div>
            </div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <p>60 minute Relaxation on Sep 10, 2020</p>
                <p>Male Client with Male Therapist only</p>
                <p>At Home in Height-area</p>
            </div>
        </div>
                <!-- <mat-card>
                    <mat-card-subtitle>
                        <p>60 minute Relaxation on Sep 10, 2020</p>
                        <p>Male Client with Male Therapist only</p>
                        <p>At Home in Height-area</p>
                    </mat-card-subtitle>
                </mat-card> -->
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-5">
                        <p>This service has not been scheduled yet.</p>
                    </div>
                    <div class="col-sm-5 offset-sm-2">
                        <button class="btn btn-sm btn-primary">
                            Cancel Service
                        </button>&nbsp;
                        <button type ="button" class ="btn btn-sm btn-primary">Schedule Appointment</button>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-sm-5">
                        <p>This service has been schedule on Sep,10 at 11AM </p>
                    </div>
                    <div class="col-sm-5 offset-sm-2">
                        <button type ="button" class ="btn btn-sm btn-primary">Check In </button>&nbsp;
                        <button type ="button" class ="btn btn-sm btn-primary">Cancel Service</button>
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5">
                        <p>This service began on September 10 at 12:15 PM.</p>
                    </div>
                    <div class="col-sm-5 offset-sm-2">
                        <button type ="button" class ="btn btn-sm btn-primary">Complete</button>&nbsp;
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5">
                        <p>This service was marked complete at 12:15 PM on September 10.</p>
                    </div>
                    <div class="col-sm-5 offset-sm-2">
                        <button type ="button" class ="btn btn-sm btn-primary">Rate Client</button>&nbsp;
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div><br><br>
<div class="row">
    <div class="col-md-6">
        <h4>Client</h4>
        <table class="table table-bordered">
    
            <tbody>
                <tr>
                <td><b>Client Name</b></td>
                <td>Oliver S</td>
                </tr>
                <tr>
                    <td><b>Photo</b></td>
                    <td><img class="img" src="../../../../../assets/images/client-user.png" alt=""></td>
                </tr>
                <tr>
                    <td><b>Address </b></td>
                    <td>lorem ipsum</td>
                </tr>
                <tr>
                    <td><b>Client Rating </b></td>
                    <td><ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="true"></ngb-rating>
                        </td>
                </tr>
                <!-- <tr>
                    <td><b>Status </b></td>
                    <td></td>
                </tr> -->
                
                </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h4>Therapist</h4>
        <table class="table table-bordered ">
    
            <tbody>
            <tr>
            <td><b>Therapist Name</b></td>
            <td>Oliver S</td>
            </tr>
            <tr>
                <td><b>Photo</b></td>
                <td><img class="img" src="../../../../../assets/images/therapist-user.png" alt=""></td>
            </tr>
            <tr>
                <td><b>Licensure </b></td>
                <td>lorem ipsum</td>
            </tr>
            <tr>
                <td><b>Thrapist Rating </b></td>
                <td></td>
            </tr>
            <!-- <tr>
                <td><b>Status </b></td>
                <td></td>
            </tr> -->
            
            </tbody>
            </table>
    </div>    
</div>
</div>

<!-- <div class="back-btn">
    <div class="row">
        <div class="col-sm-2 offset-sm-10">
            <button type="button" class="btn btn-primary">Back</button>
        </div>
    </div>
</div> -->

<!-- <div class="row">
<div class="col-md-12">

<mat-card>
<div>
<p>This service has been schedule on Sep,10 at 11AM </p>
<span class ="example-spacer"></span> -->
<!-- modal -->
<!-- <button type ="button" class ="btn btn-sm btn-primary">Cancel Service</button>
</div><br> -->
<!-- <div>
<p>This service has been cancelled by the Therapist</p>
<span class ="example-spacer"></span>
<button type ="button" class ="btn btn-sm btn-primary">New Service</button>
</div>
<br>
<div>
<p>This service has not been schedule yet</p>
<span class ="example-spacer"></span>
modal
<button type ="button" class ="btn btn-sm btn-primary">Cancel Service</button>
</div>
<br>
<div>
<p>This service has been cancelled by the Therapist</p>
<span class ="example-spacer"></span>
<button type ="button" class ="btn btn-sm btn-primary">New Service</button>
</div>
<br>
<div>
<p>This service wsa marked complete at 12:15 PM on Sep,10</p>
<span class ="example-spacer"></span>
use modal
<button type ="button" class ="btn btn-sm btn-primary">Rate Service</button>
</div> -->
<!-- </mat-card> -->

<!-- </div>
</div> -->

<!-- 
<div class="col-md-12">
    <p> <br><br>
    <mat-card>
    <div class="row">
    <div class="col-md-12">
    <div class="row">
    <div class="col-md-6">
    <h4>Client</h4>
    
    <div class="row">
    <div class="col-md-12">
    <table class="table table-bordered table-striped">
    
        <tbody>
            <tr>
            <td><b>Client Name</b></td>
            <td>Oliver S</td>
            </tr>
            <tr>
                <td><b>Photo</b></td>
                <td>Oliver S</td>
            </tr>
            <tr>
                <td><b>Address </b></td>
                <td>lorem ipsum</td>
            </tr>
            <tr>
                <td><b>Thrapist Rating </b></td>
                <td>*****<span>5/5</span></td>
            </tr>
            
            </tbody>
    </table>
    </div>
    </div>
    </div>
    <div class="col-md-6">
    <h4>Therapist</h4>
    
    <div class="row">
    <div class="col-md-12">
    <table class="table table-bordered ">
    
    <tbody>
    <tr>
    <td><b>Therapist Name</b></td>
    <td>Oliver S</td>
    </tr>
    <tr>
        <td><b>Photo</b></td>
        <td>Oliver S</td>
    </tr>
    <tr>
        <td><b>Licensure </b></td>
        <td>lorem ipsum</td>
    </tr>
    <tr>
        <td><b>Thrapist Rating </b></td>
        <td>*****<span>5/5</span></td>
    </tr>
    
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </mat-card>
    </p>
    </div> -->