<p>
    <mat-toolbar style="background: #ffffffea;">
      <span style ="margin-left:9px;">
        <img src ="../../../assets/images/malax project images & icons/logo.png" alt ="image" class ="image-responsive" style="max-width:22%;"> 
      </span>
      <span class="example-spacer"></span>
      <button class="btn">
        <i class="fa fa-bell"></i>
        <!-- <img src ="../../assets/malax project images & icons/malax project images & icons/mdi_notifications.png"> -->
      </button>
      <button class="btn"> 
        <div>
          <img src="../../../assets/images/malax project images & icons/Mask Group2.png" alt="i" class ="image-responsive" style="max-width:35px;">
        </div>
      </button>
      <button class ="btn">
        <i class ="fa fa-sign-out-alt"></i>
        <!-- <img src ="../../../assets/images/malax project images & icons/malax project images & icons/mdi_logout.png"> -->
      </button>
    </mat-toolbar>
    <mat-toolbar class ="header">
      <div class="example-button-row">
         <button class ="link btn btn-light" type ="button" routerLink ="/">Client Profile</button>&nbsp;
         <button class ="link btn btn-light" type ="button" routerLink ="">Service Request</button>
      </div>
    </mat-toolbar>
  </p>

