<section>
    <mat-toolbar style="background: #FFFFFF;">
        <span style ="margin-left:9px;">
        <img src ="assets/images/logo.png" alt ="image" style="max-width:22%;">
        </span>
        <span class="example-spacer"></span>
        <a class="btn">
          <i class="fas fa-bell"></i> 
        </a>
        <button class="btn">
        <img src="assets/images/therapist-user.png" alt="i" class ="image-responsive" style="max-width:35px;">
        </button>
        <a class ="btn" routerLink ="/">
         <i class ="fas fa-sign-out-alt"></i>
        </a>
        </mat-toolbar>
        <mat-toolbar class ="header">
        <div class="example-button-row">
        <button class ="link btn btn-light" type ="button" routerLink ="pf">Client Profile</button> &nbsp;
        <button class ="link btn btn-light" type ="button" routerLink ="ssl">Schedule Services</button>
        </div>
        </mat-toolbar> 
</section>
    
    
