<section>
    <div class="signup">
        <div class="row">
            <div class="col-md-5">
                <div class="back-image">
                    <div class="back-image-overlay">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="logo">
                                        <img src="assets/images/logo.png" alt=""> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="section-title">
                    <h2>Welcome to Malax</h2>
                    <p> Already Registered?
                        <a>Click here to login</a>
                    </p>
                </div>
            
                <div class="section-fields">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" maxlength="31">
                            </div>
                        </div>
                    </div>
                    

                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control">
                            </div>
                        </div>
                    </div>
                  

                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label for="password-confirmation">Password Confirmation</label>
                                <input type="password" class="form-control" >
                            </div>
                        </div>
                    </div>

                    

                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label for="first-name">First Name</label>
                                <input type="text" class="form-control" maxlength="31" >
                            </div>
                        </div>
                    </div>

                    

                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label for="last-name">last Name</label>
                                <input type="text" class="form-control" maxlength="31"
                                >
                            </div>
                        </div>
                    </div>

                   

                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label for="market">Market</label>
                                <select class="form-control" 
                                >
                                    <option value="Billings,MT">Billings, MT</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <span > 
                        <p>
                            Malax is not yet available in your area. You can submit this form, 
                            and we will be happy to notify you when Malax is available in your ZIP code.
                            </p>
                    </span>
                   

                    <div class="row">
                        <div class="col-sm-4 offset-sm-4">
                            <div class="form-group">
                                <div class="section-field-btn">
                                <button type="button"  class="btn btn-primary">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>

               </div>

            
            </div>
        </div>
    </div>
</section>
