*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .btn-primary{
    background-color: #3699FF;
    border-color: #3699FF;
  }
  .btn-light{
    border: 1px solid rgba(155, 155, 155, 0.5);
    color: rgba(47, 48, 68, 0.5);
  }
  p{
      font-size: 15px;
      color: #2F3044;
  }