<!-- <p>malax-form works!</p> -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Malax Customer Agreement Form </h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tellus nulla volutpat risus id adipiscing leo tristique. 
                        Sollicitudin ac rhoncus posuere bibendum aliquet elementum viverra volutpat. Amet libero in eu, ut erat platea laoreet. Augue scelerisque nunc adipiscing ultrices orci, sollicitudin. Sit egestas ultricies ipsum, posuere ut bibendum semper. Non nibh nibh accumsan metus pharetra integer aliquam vitae. 
                    </p>  
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tellus nulla volutpat risus id adipiscing leo tristique. Sollicitudin ac rhoncus posuere bibendum aliquet elementum viverra volutpat. Amet libero in eu, ut erat platea laoreet. Augue scelerisque nunc adipiscing ultrices orci, sollicitudin.
                        Sit egestas ultricies ipsum, posuere ut bibendum semper. Non nibh nibh accumsan metus pharetra integer aliquam vitae. 
                    </p>  
                </div>
                <div>
                    <input type ="checkbox" name ="checkbox">
                    I confirm that I have read and agree to the terms above
                </div>
                <br>
                <div class="row">
                    <div class ="col-md-12">
                        <button type ="button" class ="btn btn-primary">I Agree</button>
                        <button type ="button" class ="btn btn-light">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
