<h1 mat-dialog-title>Malax Massage Consent Form</h1>
<div mat-dialog-content>
    
    <div class="row">
        <div class="col-sm-12">
            <div class="modal-consent-text">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae consequuntur
                 aspernatur sapiente assumenda dicta quibusdam totam
                  aliquam, quia culpa quod deleniti explicabo blanditiis voluptate id 
                  ratione. Voluptas similique dolore velit. 
              </p>
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae consequuntur
                 aspernatur sapiente assumenda dicta quibusdam totam
                  aliquam, quia culpa quod deleniti explicabo blanditiis voluptate id 
                  ratione. Voluptas similique dolore velit.
              </p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <div class="malax-consent">
                <div class="d-flex flex-row bd-highlight ">
                    <div class="p-2 bd-highlight">
                        <input type="checkbox">
                    </div>
                    <div class="p-2 bd-highlight">
                        <p>I confirm that I have read and agree to the terms above</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div mat-dialog-actions>
  
  <div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
        <button class="btn btn-sm btn-primary" >I Agree</button>
    </div>
    <div class="p-2 bd-highlight">
        <button class="btn btn-sm btn-light" mat-button mat-dialog-close>Cancel</button>
    </div>
  </div>

</div>