
<section>
<div class="container">
  
<div class="row">
<div class="col-md-12">
<h2>
Therapist Profile
</h2>
</div>
</div><br>

<div class="row">
    <div class="col-md-12">
    <h4>Licensure</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa earum aspernatur dolore cumque excepturi perferendis, rem dolores qui quis molestiae. Facilis in eum ex totam. Deserunt enim ipsum beatae illum?</p>
    </div>
</div>

<div class="therapist-profile">
 
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="state">State</label>
                <select class="form-control" >
                    <option value="">Monatana</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="state">Licensed Since</label>
                <input type="date"  class="form-control" placeholder="mm-dd-yyyy"
                formControlName="licensedSinceDate">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="state">Expiration Date</label>
                <input type="text" class="form-control" placeholder="mm-dd-yyyy">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="state">License Number</label>
                <input type="number" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="state">Gender</label>
                <select class="form-control">
                    <option value="">Male</option>
                    <option value="">Female</option>
                    <option value="">Other</option>
                </select>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
    <h4>Modalities</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa earum aspernatur dolore cumque excepturi perferendis, rem dolores qui quis molestiae. Facilis in eum ex totam. Deserunt enim ipsum beatae illum?</p>
    </div>
</div>

<div class="modalities">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-subtitle">
                    <div class="checkbox">
                    <input type="checkbox" >&nbsp;<label for="">Deep Tissue</label>&nbsp;
                    <input type="checkbox" >&nbsp;<label for="">Pragnancy</label>&nbsp;
                    <input type="checkbox" >&nbsp;<label for="">Relaxation</label>&nbsp;
                    <input type="checkbox" >&nbsp;<label for="">Sports</label>&nbsp;
                    <input type="checkbox" >&nbsp;<label for="">Sleep</label>&nbsp;
                    <input type="checkbox" >&nbsp;<label for="">Senior</label>&nbsp;
                    <input type="checkbox" >&nbsp;<label for="">Therapeutic</label>
                  </div>
              </div>
        </div>
        </div>
    </div>
</div><br>

<div class="row">
    <div class="col-sm-4 offset-sm-5">
        <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
        <button class="btn btn-light">Cancel</button>
    </div>
</div><br>

</div>
</section>

