<h1 mat-dialog-title>Update email address</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col-sm-12">
            <div class="modal-text">
            <p>A confirm message will be sent to your new email</p>
           </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
        <label for="current-email">Current Email</label>
        </div>
        <div class="col-sm-4">
            <p>email@gmail.com</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
        <label for="current-email">New Email</label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
            <input type="text" class="form-control" placeholder="abc@gmail.com">
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
  
  <div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
        <button class="btn btn-sm btn-primary" >Update Email</button>
    </div>
    <div class="p-2 bd-highlight">
        <button class="btn btn-sm btn-light" mat-button mat-dialog-close>Cancel</button>
    </div>
  </div>

</div>